html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

.sec1{
    height: 65vh;
}

.sec2{
    height: 100vh; 
    min-height: 100%;
    background-color: #141414;
    position:relative;
}
.navt{
    margin: 0;
    font-size: 2vmin;
    font-weight: 700; 
}
.logo{
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    background-image: url(img/Logo\ mark-08.png);
    background-size: cover;
    transition: 0.5s ;
    margin-left: 80px;
}
.logo:hover{
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    background-image: url(img/WordType-05.png);
    background-size: cover;
    margin-left: 80px;
}

@media screen and (max-width: 772px) {
  .logo{
    width: 14vmin;
    height: 14vmin;
    margin-left: 0px;
}
.logo:hover{
    width: 14vmin;
    height: 14vmin;
    margin-left: 0px;
}  
.navt {
    font-size: 4vmin;
}
}

.heading2{
    margin-top: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 5vmin;
    font-weight: 700;
    
}
.heading1{
    margin: 0 auto;
    text-align: center;
    font-size: 10vmin;
    font-weight: 800; 
    padding-bottom: 0%;
}

.system{
    margin: 0 auto;
    text-align: center;
    font-size: 10vmin;
    font-weight: 800;
    margin-top: -40px;
}

.mockup{
    margin: 0 auto;
    transform: translateY(-50%);
    width: 100%;
    height: 120vh;
    background-image: url(img/mockup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

.mobmock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 65vh;
    width: 65vh;
    background-image: url(img/mobilemock.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.tblock{
    color:#fff;
    font-size: 3vmin;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}

.tblock2{
    color:#fff;
    font-size: 3vmin;
    position: absolute;
    width: 100%;
    top: 75%;
    left: 44%;
    transform: translateX(-50%) translateY(-50%);
    text-align: right;
    overflow: hidden;
}
.atext{
    width:300px;
    line-height: 25px;
}

@media screen and (max-width: 821px) {
    .mobmock{
        
        height: 65vh;
        width: 65vh;
    }
    .tblock{
        font-size: 3.5vmin;
        top: 10%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .tblock2{
        font-size: 3.5vmin;
        width: 100%;
        top: 85%;
        left: 44%;
        transform: translateX(-50%) translateY(-50%);
    }
    .system{
        margin-top: -10px;
    }
    .heading2{
        padding-top: 100px;
    }
    .atext{
        width: 190px;
        line-height: 13px;
    }
}

.sec3{
    position:relative;
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobmock2{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 65vh;
    width: 65vh;
    background-image: url(img/mobilemock.png);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.4;
}
.heading3{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 7vmin;
    font-weight: 800; 
    color: white;
    width: 100%;
    text-align: center;
    z-index: 2;
}
@media screen and (max-width: 821px) {
    .mobmock2{
       
        height: 65vh;
        width: 65vh;
    }
}

.sec4{
    position: relative;
    height: 100vh; 
    width:100vw;
}
.mobmock3{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80vh;
    width: 80vh;
    background-image: url(img/Gif-1.gif);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.scan-head{
    position: absolute;
    font-size: 70px;
    font-weight: 800; 
    left: 20%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.number1{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 340px;
    font-weight: 800; 
    left: 90%;
    top: 82.5%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 30%;
    z-index: 1;
}

@media screen and (max-width: 821px) {
    .scan-head{
        left: 50%;
        top: 10%;
    }
    .number1{ 
        left: 90%;
        top: 82.5%;
    font-size: 280px;

    }
}

.mobmock4{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80vh;
    width: 80vh;
    background-image: url(img/Gif-2.gif);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.order-head{
    position: absolute;
    font-size: 70px;
    font-weight: 800; 
    left: 20%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}
.number2{
    position: absolute;
    font-size: 340px;
    font-weight: 800; 
    left: 90%;
    top: 84%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 30%;
    color: white;
    z-index: 1;
}
@media screen and (max-width: 821px) {
    .order-head{
        left: 50%;
        top: 10%;
    }
    .number2{ 
        left: 90%;
        top: 82.5%;
    font-size: 280px;

    }
}

.mobmock5{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80vh;
    width: 80vh;
    background-image: url(img/Gif-3.gif);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
}
.feast-head{
    position: absolute;
    font-size: 70px;
    font-weight: 800; 
    left: 20%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}
.number3{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 340px;
    font-weight: 800; 
    left: 90%;
    top: 84%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 30%;
    z-index: 1;
}
@media screen and (max-width: 821px) {
    .feast-head{
        left: 50%;
        top: 10%;
    }
    .number3{ 
        left: 90%;
        top: 82.5%;
    font-size: 280px;

    }
}

.sec5{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height:100vh;
}

.benefits-head{
    position: absolute;
    font-size: 8vmin;
    font-weight: 700; 
    left: 50%;
    top: 10%;
    transform: translateX(-50%) translateY(-50%);
}
.benefits1{
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateX(-50%) translateY(-50%);
    height: 30vw;
    width: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url(img/Untitled-1-01.png);
    background-size:contain;
    background-repeat: no-repeat;
}.benefits2{
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translateX(-50%) translateY(-50%);
    height: 30vw;
    width: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url(img/Untitled-1-02.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.benefits3{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 30vw;
    width: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url(img/Untitled-1-03.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.benefits4{
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    height: 30vw;
    width: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url(img/Untitled-1-04.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.benefits5{
    position: absolute;
    top: 55%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
    height: 30vw;
    width: 30vw;
    max-width: 200px;
    max-height: 200px;
    background-image: url(img/Untitled-1-05.png);
    background-size:contain;
    background-repeat: no-repeat;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
      transform: scale(1, 1.10);
    color:black;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 700;
    transform: scale(1, 1.04);
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
      .navbar{
          height: 80vh;
      }
  }
  @media screen and (max-width: 721px) {
    .sec5{
        height:100vh;
    }
    .benefits1{
        top: 40%;
        left: 20%;
        height: 35vw;
        width: 35vw;
    }.benefits2{
        top: 40%;
        left: 50%;
        height: 35vw;
        width: 35vw;
    }
    .benefits3{
        top: 40%;
        left: 80%;
        height: 35vw;
        width: 35vw;
    }
    .benefits4{
        top: 76%;
        left: 30%;
        height: 35vw;
        width: 35vw;
    }
    .benefits5{
        top: 76%;
        left: 70%;
        height: 35vw;
        width: 35vw;
    }
  }

  .hero {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .hero-inner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
  }
  @supports (-webkit-overflow-scrolling: touch) {
    .hero-inner {
      clip: unset;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }

  

/* --------- services ---------------- */
.servWrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
}
.servCap1 {
    position: fixed;
    color:#000;
    font-size: 10vmin;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 900;
}

.servMob1{
    position: fixed;
    top: 90%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    height: 190vh;
    width: 190vh;
    background-image: url(img/End\ user\ Features-01.png);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 2;
}

@media screen and (max-width: 821px) {
    .servCap1 {
        font-size: 8vmin;
        top: 15%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .servMob1{
        top: 95%;
        left: 50%;;
        height: 170vh;
        width: 170vh;
    }
}

/* --------- EUC(end-user Client) ---------------- */
.EUCnav {
    
    background-color: #141414;
    color:#fff;
}

.EUCnav a:hover{
    color: aliceblue;
}
.EUCnav .toggle-menu ul{display:table; width:25px;}
.EUCnav .toggle-menu ul li{width:100%; height:3px; background-color:#fff; margin-bottom:4px;}
.EUCnav .toggle-menu ul li:last-child{margin-bottom:0px;}

.EUCnav .logo{
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    background-image: url(img/Logo\ mark-07.png);
    background-size: cover;
    transition: 0.5s ;
    margin-left: 80px;
}
.EUCnav .logo:hover{
    margin: 0;
    width: 10vmin;
    height: 10vmin;
    background-image: url(img/WordType-04.png);
    background-size: cover;
    margin-left: 80px;
}

@media screen and (max-width: 772px) {
    .EUCnav .logo{
    width: 14vmin;
    height: 14vmin;
    margin-left: 0px;
}
.EUCnav .logo:hover{
    width: 14vmin;
    height: 14vmin;
    margin-left: 0px;
}  
}

.sec6{
    position: relative;
    height: 82vh;
    margin: 0 auto;
    overflow: hidden;
}

.imgclient{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70vw;
  opacity: 0.5;
  z-index: 1;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.imguser{
  position: absolute;
  top: 34%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  width: 70vw;
  opacity: 0.5;
  z-index: 1;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.txtclient{
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5vmin;
  font-weight: 800;
  color: #fff;
  z-index: 9999;
}
.txtclient:hover{
   text-decoration: underline;
}
.txtclient:hover + .imgclient{
  width: 75vw;
  opacity: 1;
  z-index: 99;
}
.txtuser{
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5vmin;
  font-weight: 800;
  color: #fff;
  z-index: 9999;
}
.txtuser:hover{
  text-decoration: underline;
}
.txtuser:hover + .imguser{
 width: 75vw;
 opacity: 1;
 z-index: 99;
}

@media screen and (max-width: 821px) {
.txtclient{
    font-size: 7vmin;
  top: 15%;
  left: 50%
}
.txtuser{
    font-size: 7vmin;
  top: 85%;
  left: 50%
}
.imgclient{
  width: 100vw;
}
.imguser{
  width: 100vw;
}
.txtuser:hover + .imguser{
  width:130vw;
}
.txtclient:hover + .imgclient{
  width:130vw;
}
}
